<div class="banner">
  <div class="banner-content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12">

            <h1 class="title">Are you
              <strong>hot?</strong>
            </h1>

        </div>
      </div>

      <div class="row">
        <div class="banner-buttons">
          <div class="col-xs-12">
            <a href=#cards_index class="btn btn-block">Browse Chills!</a>
          </div>
          <div class="col-xs-12">
            <a href="" class="btn btn-block">Login</a>
          </div>
          <div class="col-xs-12">
            <a href="" class="btn btn-block">Sign up</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<%= render 'shared/chill_card', chill: @chill %>
