<div class="banner">
  <div class="banner-content">
    <h1>Are you <strong>hot?</strong></h1>
    <div class="banner-buttons">
      <a href="" class="btn">Rent'a Chill!</a>
    </div>
  </div>
</div>

<%= render 'shared/chill_card', chill: @chill %>
