.card-profile {
  height: 150px;
  color: gray;
  position: relative;
  margin: 5px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.card-profile h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button {
  border-radius: 10px;
  border: 1px solid black;
  padding: relative;
  padding-left: 10px;
  color: gray;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  margin: 5px;
}

button:hover, a:hover {
    opacity: 0.7;
}
