

<% if @user == current_user %>
  <div class="ensemble">
    <%= link_to edit_user_registration_path(@user) do %>
      <i class="fa fa-edit"></i>
      <% end %>
  <a class="hidden-xs dropdown-toggle footer-rent-link" id="footer-rent-menu" data-toggle="dropdown" href="">Edit</a>
  </div>
<% end %>

<div class="card-profile">
  <div class="about-me">
    <h2> About me </h2>
   <!--  <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %> -->
    <p><%= @user.interests %></p>
  </div>
</div>

<div class="card-profile">
  <div class="interests">
    <h2>Interests</h2>
  </div>
</div>
