


<div class="card-profile">
  <div class="about-me">
    <h2> About me </h2>
  </div>
</div>

<div class="card-profile">
  <div class="interests">
    <h2>Interests</h2>
  </div>
</div>

<p><button>Contact</button></p>
