<div class="banner" >
    <div class="banner-content">
      <h1>Are you hot?</h1>
      <p> Rent'a chill!</p>
      <div class="banner-buttons">
        <a href="" class="btn">Find'a Chill!</a>
        <a href="" class="btn">Add' Chill!</a>
      </div>
    </div>
      </div>
