<div class="footer">
  <div class= "ensemble">
    <a href="/"><i class="fa fa-home"></i></a>
    <a class="hidden-xs dropdown-toggle footer-rent-link" id="footer-rent-menu" href="/">Home</a>
  </div>

  <div class="ensemble">
    <a href="chills/index"><i class="fa fa-tint"></i></a>
    <a class="hidden-xs dropdown-toggle footer-rent-link" id="footer-rent-menu" data-toggle="dropdown" href="#">Chills</a>
  </div>

  <div class="ensemble">
    <a href="chills/new"><i class="fa fa-plus-circle"></i></a>
    <a class="hidden-xs dropdown-toggle footer-rent-link" id="footer-rent-menu" data-toggle="dropdown" href="#">Add</a>
  </div>

  <div class="ensemble">
    <a href="/"><i class="fa fa-comment-alt"></i></a>
    <a class="hidden-xs dropdown-toggle footer-rent-link" id="footer-rent-menu" data-toggle="dropdown" href="">Messages</a>
  </div>

  <div class="ensemble">
    <a href="/"><i class="fa fa-user"></i></a>
    <a class="hidden-xs dropdown-toggle footer-rent-link" id="footer-rent-menu" data-toggle="dropdown" href="#">Profile</a>
  </div>
</div>


