<div class="navbar-wagon">
  <!-- Avatar with dropdown menu -->
  <div class="navbar-wagon-item">
    <%= link_to destroy_user_session_path, method: :delete do %>
    <p>Hello
      <%= current_user.name %>!
      <i class="fas fa-sign-out-alt"></i>
    </p>
  <% end %>
</div>


<div class="search-container">
  <div class="search-icon-btn">
    <i class="fa fa-search"></i>
  </div>
  <div class="search-input">
    <input type="search" class="search-bar" placeholder="Search...">
  </div>
</div>
</div>
